<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flashligh">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flashligh">
        <receiver
            android:name=".receiver.Screen_Receiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".receiver.Notification_Receiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".receiver.SMS_Receiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.Call_Receiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Flashligh.NoActionBar" />
    </application>

</manifest>